.auth-container{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alternate-text-message{
    width: 350px;
    margin-bottom: 50px;
    color: #464646;
    font-size: xx-large;
    text-align: center;
}